html{
  background-color: darkcyan;
}

.container-fluid{
  background-color: darkcyan;
}

input[type="text"]{
  color: white;
  background:transparent;
}

input[type="text"]:focus{
  background:transparent;
  color: white;
}